.message {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 45px 15px;
    margin: 20px auto;
    text-align: center;
    max-width: 800px;
}


.message span{
    font-size: 50px;
}
